<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ClassMapper">
<select id="selectAll" resultType="com.example.entity.Classs">
    select class.* ,teacher.name as userName  from `class`
        left join teacher on class.user_id = teacher.id
    <where>
        <if test="className != null and className != '' ">class.class_name like concat('%',#{className},'%')</if>
        <if test="userId != null  ">and class.user_id =#{userId}</if>

    </where>
             order by id desc
</select>
    <insert id="insert">
        insert into `class` (class_name,user_id,create_time)
        values(#{className},#{userId},#{time})
    </insert>
    <update id="updateById">
        update `class` set class_name =#{className}
                          create_time=#{time},user_id=#{userId}
        where id=#{id}
    </update>
</mapper>